body {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a:hover {
    text-decoration: none !important;
}

@font-face {
    font-family: 'BLANCHCAPSLIGHT';
    src: url('../Fonts/BLANCH_CAPS_LIGHT.ttf');
}

@font-face {
    font-family: 'HighVoltage_Rough';
    src: url('../fonts/HighVoltage_Rough.ttf');
}

@font-face {
    font-family: 'have-heart';
    src: url('../fonts/Have_Heart_One.ttf')
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'SharpSansBold';
    src: url('../fonts/SharpSansBold.ttf');
}

@font-face {
    font-family: 'montserrat-lightitalic';
    src: url('../fonts/Montserrat-LightItalic.ttf');
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'montserrat-light';
    src: url('../fonts/Montserrat-Light.ttf');
}

#wrapper {
    background: #fff;
}

.header {
    border-bottom: 3px solid #2b2b6b;
}

.logo span {
    line-height: 1;
}

.logo .kramers {
    font-size: 100px;
    color: #2b2b6b;
    transform: rotate(-8deg);
    font-family: 'have-heart';
}

.salsa {
    font-size: 60px;
    font-family: 'montserrat-medium';
    color: #d3242e;
    line-height: .5 !important;
    font-family: 'HighVoltage_Rough';
    letter-spacing: 5px;
    padding: 0 0 0 100px;
}

.cart p {
    font-size: 12px;
    font-family: 'montserrat-bold';
    color: #2b2b6b;
    letter-spacing: 5px;
}

.cart ul li {
    margin: 0 10px 0;
}

.cart ul li i {
    font-size: 35px;
    color: #2b2b6b;
}

.fa-facebook-f {
    color: #fff !important;
}

.cart .facebook {
    border-radius: 50%;
    background-color: #2b2b6b;
    color: #fff;
    width: 45px;
    height: 45px;
    padding: 10px 0 0;
}

main {
    padding: 70px 0;
}

.main-detail {
    margin: 0 0 100px;
}

.main-detail span {
    font-size: 26px;
    line-height: 1;
    color: #d3242e;
    margin-bottom: 10px;
    display: block;
    font-family: 'HighVoltage_Rough';
}

.main-detail p {
    font-size: 16px;
    font-family: 'montserrat-lightitalic';
}

.products {
    background-color: #e6e6e5;
    padding: 0 0 70px
}

.heading {
    background-color: #d3242e;
    padding: 20px 0;
    margin: 0 0 120px;
}

.heading span {
    font-size: 60px;
    display: block;
    color: #fdee17;
    font-family: 'HighVoltage_Rough';
    letter-spacing: 5px;
}

.heading:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #d3242e;
    border-width: 30px;
    margin-left: -30px;
}

.products .product-detail {
    background-color: #fff;
    padding: 40px 0;
}

.product-detail img {
    margin: 0 0 50px
}

.product-detail span {
    font-size: 14px;
    color: #000;
    font-family: 'montserrat-bold';
    letter-spacing: 5px;
    margin: 0 0 10px
}

.product-detail .price {
    font-family: 'montserrat-light';
}

.pricing {
    margin: 25px 0
}

.pricing .input-group {
    background-color: #e6e6e5;
    border-radius: 4px;
    padding: 0 5px;
}

.pricing span {
    margin: 0;
    background-color: #e6e6e5;
    font-size: 12px;
    padding: 0 5px;
}

.pricing .input-group-text {
    padding: 0;
    border: none;
}

.pricing .form-control {
    border: none;
    background-color: #e6e6e5;
    padding: 0 5px;
}

.pricing button {
    background-color: #e6e6e5 !important;
    color: #000 !important;
    border: none;
}

.pricing button:after {
    margin-left: 75px;
    position: absolute;
    top: 50%;
    right: 15px;
}

.btn:focus {
    box-shadow: none;
}

.d-menu {
    background-color: #e6e6e5;
}

.form-control:focus {
    box-shadow: none;
}

.product-detail .submit-button {
    background-color: #989898;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 5px;
    word-spacing: 4px;
    margin: 30px 0 0
}

.recipes {
    margin: 0 0 70px;
}

.recipes .heading {
    background-color: #fdee17;
}

.recipes .heading span {
    color: #d3242e;
}

.recipes .heading:after {
    border-top-color: #fdee17;
}

.recipes .image {
    max-width: 300px;
    margin: 0 auto;
}

.recipes .image img {
    width: 100%;
    height: auto;
}

.contact-us .heading {
    background-color: #2b2b6b;
}

.contact-us .heading span {
    color: #fdee17;
}

.contact-us .heading:after {
    border-top-color: #2b2b6b;
}

.contact-us .my_form {
    background-color: #e6e6e5;
    color: #000;
    font-family: 'montserrat-bold';
    font-size: 12px;
    border: none;
    margin: 0 0 20px;
    padding: 10px;
}

.contact-us .contact-detail {
    font-family: 'montserrat-medium';
    text-transform: capitalize
}

.contact-us .contact-detail span {
    margin: 0 0 20px
}

.contact-us .contact-detail a {
    margin: 0 0 20px;
}

.contact-us .mail-submit {
    background-color: #989898;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 5px;
    word-spacing: 4px;
    margin: 120px 0 0
}

.recipe-page .title {
    font-family: HighVoltage_Rough;
    font-size: 75px;
    letter-spacing: 17px;
    word-spacing: 4px;
    color: #fdee17;
    margin: 0 0 50px;
}

.recipe-ingredients {
    margin: 0 0 50px;
}

.recipe-ingredients span {
    font-family: 'SharpSansBold';
    font-size: 25px;
    color: #d3242e;
    margin: 0 0 10px
}

.recipe-ingredients p {
    font-family: 'montserrat-lightitalic';
    letter-spacing: 1px;
    font-size: 16px;
}

.recipe-image {
    max-width: 700px;
    margin: 0 auto;
}

.recipe-image img {
    width: 100%;
    height: auto;
}

.cart-page .title {
    font-family: HighVoltage_Rough;
    font-size: 75px;
    letter-spacing: 17px;
    word-spacing: 4px;
    color: #fdee17;
    margin: 0 0 50px;
}

.cart-detail li {
    font-family: 'montserrat-light';
    font-size: 18px;
    margin: 0 0 25px;
    text-transform: uppercase;
}

.check-out {
    background-color: #e6e6e5;
    border-radius: 30px
}

.check-out li {
    font-family: 'montserrat-light';
}

.checkout-button {
    bottom: -10px;
    left: 0;
}

.checkout-button a {
    border-radius: 5px;
    background-color: #989898;
    font-family: 'montserrat-bold';
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 15px;
}

footer {
    background-color: #d3242e;
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 5px;
    word-spacing: 4px;
    font-family: 'montserrat-bold';
}

@media screen and (max-width:991px) {
    .contact-us .contact-detail .mail-submit {
        margin: 75px 0 0;
    }
}

@media screen and (max-width:767px) {
    .contact-us .desktop {
        display: none;
    }
    .contact-us .contact-detail .mail-submit {
        margin: 20px 0 0;
    }
}
.w-65{
    width: 65% !important;
}
.w-35{
    width:35% !important;
}